*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neut-light-gray);
}

html {
  font-family: "Space Mono", monospace;
}

:root {
  --clr-primary: hsl(172, 67%, 45%);
  --clr-neut-very-dark: hsl(183, 100%, 15%);
  --clr-neut-dark-gray: hsl(186, 14%, 43%);
  --clr-neut-gray: hsl(184, 14%, 56%);
  --clr-neut-light-gray: hsl(185, 41%, 84%);
  --clr-neut-very-light: hsl(189, 41%, 97%);
  --clr-neut-white: hsl(0, 0%, 100%);
}

button,
input {
  min-width: 2rem;
  border-radius: 0.25rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--clr-neut-very-dark);
  color: var(--clr-neut-white);
  font-family: inherit;
  transition: all 200ms ease;
}

button:hover {
  background-color: var(--clr-neut-light-gray);
  color: var(--clr-neut-very-dark);
}

.active {
  background-color: var(--clr-primary);
  color: var(--clr-neut-very-dark);
}

input {
  cursor: pointer;
  font: inherit;
  color: var(--clr-neut-very-dark);
  border: none;
  background-color: var(--clr-neut-very-light);
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  text-align: right;
  position: relative;
  caret-color: var(--clr-neut-light-gray);
}

input:focus-visible {
  outline: 2px solid var(--clr-primary);
}

.container {
  max-width: 60rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neut-white);
}

.content {
  display: grid;
  align-items: center;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

.information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.calculation {
  background-color: var(--clr-neut-very-dark);
  color: var(--clr-neut-white);
  padding: 1.5rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}

label,
.tips-title {
  color: var(--clr-neut-dark-gray);
  margin-bottom: 1rem;
}

#tip {
  text-align: center;
}

/* #tip:focus::placeholder {
  color: transparent;
} */

.bill-wrapper,
.people-wrapper {
  display: flex;
  flex-direction: column;
}

.tips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.icon-bill,
.icon-people {
  position: relative;
}

.icon-bill::before,
.icon-people::before {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  top: -2rem;
  left: 1rem;
}

.icon-bill::before {
  content: url(./images/icon-dollar.svg);
}

.icon-people::before {
  content: url(./images/icon-person.svg);
}

.amount-wrapper {
  display: flex;
  align-items: center;
}

.amount-wrapper .amount {
  margin-left: auto;
  font-size: 3rem;
  color: var(--clr-primary);
}

.subtle {
  font-size: 0.75rem;
  color: var(--clr-neut-gray);
}

.reset-button {
  background-color: var(--clr-primary);
  color: var(--clr-neut-very-dark);
  margin-top: 2rem;
}
